parameters:
#    house_finder_parser.example.class: HouseFinder\ParserBundle\Example

services:


  housefinder.parser.service.slando:
    class: HouseFinder\ParserBundle\Service\SlandoService
    arguments: [@service_container]

  housefinder.parser.parser.slando:
    class: HouseFinder\ParserBundle\Parser\SlandoParser
    arguments: [@service_container, @housefinder.parser.service.slando]

  housefinder.parser.service.address:
    class: HouseFinder\ParserBundle\Service\AddressService
    arguments: [@ivory_google_map.geocoder, @doctrine.orm.entity_manager]
