{% verbatim %}
<script type="text/ng-template" id="app/welcome/welcome.html">
    <app-header></app-header>
    <div ng-show="loaded">
        WELCOME!
        <app-search-main></app-search-main>
    </div>
    <div ng-hide="loaded">
        <ng-include src="'app/loading.html'"></ng-include>
    </div>
    <app-footer></app-footer>
</script>
{% endverbatim %}
