{% verbatim %}
<script type="text/ng-template" id="app/welcome/welcome.html">
    <app-header></app-header>
    <div ng-show="loaded">
        WELCOME!
        <div ng-controller="appSearchCtrl">
            <div class="row">
                <div class="col-xs-2">
                    <app-search-filter></app-search-filter>
                </div>
                <div class="col-xs-8">
                    <app-search-main on-adtype="getCtrlAdType()" on-period="getCtrlPeriod()" on-city="getCtrlCity()" on-page="getCtrlPage()" ></app-search-main>
                </div>
                <div class="col-xs-2"></div>
            </div>
        </div>
        <div ng-hide="loaded">
            <ng-include src="'app/loading.html'"></ng-include>
        </div>
        <app-footer></app-footer>
    </div>
</script>
{% endverbatim %}
