{% verbatim %}
<script type="text/ng-template" id="app/welcome/welcome.html">
    <app-header></app-header>
    <div ng-show="loaded">
        WELCOME!
        <div>
            <div class="row">
                <div class="col-xs-2">
                    <app-search-filter></app-search-filter>
                </div>
                <div class="col-xs-8">
                    <app-search-main></app-search-main>
                    <div id="map"></div>
                </div>
                <div class="col-xs-2"></div>
            </div>
        </div>
        <div ng-hide="loaded">
            <ng-include src="'app/loading.html'"></ng-include>
        </div>
        <app-footer></app-footer>
</script>
{% endverbatim %}
