{% verbatim %}
<script type="text/ng-template" id="app/advertisement/advertisement.html">
    <app-header></app-header>
    <div ng-show="loaded">
        WELCOME!
        <div>
            <div>{{ advertisement.name }}</div>
            <div>{{ advertisement.description }}</div>
        </div>
        <div ng-hide="loaded">
            <ng-include src="'app/loading.html'"></ng-include>
        </div>
        <app-footer></app-footer>
    </div>
</script>
{% endverbatim %}
