{% extends '::base.html.twig' %}
{% block container %}
    {#{{ parent() }}#}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                Hello {{ name }}!
            </div>
        </div>
    </div>
{% endblock container %}
