<div class="well" style="margin: 5em 3em 3em 3em;">
    <h1>Подождите, пожалуйста, идет загрузка</h1>
    Если страница не обновляется длительное время - проверьте наличие доступа к сети Интернет и нажмите кнопку
</div>
<div class="text-center">
    <a href="{{ path('frontend_root') }}" class="btn btn-primary btn-large btn">
        <i class="icon icon-refresh icon-white"></i>
        Перезагрузить
    </a>
</div>
