{% verbatim %}
<script type="text/ng-template" id="searchFilter.html">
    <div>
        <select class="form-control" id="searchFilterCity"
                ng-model="searchFilterCity"
                ng-options="city as city.label for city in cities"
                ng-change="searchFilterCityChange(searchFilterCity)"
        >
            <option value="">Please select city</option>
        </select>
        <select class="form-control"
                ng-model="searchFilterType"
                ng-options="type as type.label for type in types"
                ng-change="searchFilterTypeChange(searchFilterType)"
                >
        </select>

        <select class="form-control"
                ng-model="searchFilterPeriod"
                ng-options="period as period.label for period in periods"
                ng-change="searchFilterPeriodChange(searchFilterPeriod)"
        >
        </select>
    </div>
</script>
{% endverbatim %}