parameters:
    my_user_provider.class: HouseFinder\CoreBundle\Security\Core\User\FOSUBUserProvider
    my_user_manager_service.class: HouseFinder\CoreBundle\Service\UserManagerService


services:
    my_user_manager_service:
      class: %my_user_manager_service.class%
      arguments: [@doctrine.orm.entity_manager]
    my_user_provider:
      class: %my_user_provider.class%
      arguments: [@fos_user.user_manager, { vkontakte: vkontakteId, facebook: facebookId }, @my_user_manager_service]
