.input-group-addon-sm {
    width: 60px;
    min-width: 60px;
    max-width: 60px;
    word-wrap: break-word;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}

.input-group-addon-md {
    width: 78px;
    min-width: 78px;
    max-width: 78px;
    word-wrap: break-word;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}